<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Onbase.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Onbase.My.MySettings>
            <setting name="RutaDestino" serializeAs="String">
                <value>\\SERVER-NAS\OnBase\</value>
            </setting>
            <setting name="RutaOrigen" serializeAs="String">
                <value>\\onbase02\Creditos\</value>
            </setting>
            <setting name="SMTP" serializeAs="String">
                <value>smtp85.cmoderna.com</value>
            </setting>
            <setting name="SMTP_PORT" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="SMTP_CREDEN" serializeAs="String">
                <value>ecacerest,h3Pd1BsQ,cmoderna</value>
            </setting>
            <setting name="RutaTmpOrg" serializeAs="String">
                <value>\\SERVER-RAID2\TmpFinagil\</value>
            </setting>
            <setting name="RutaTmpDest" serializeAs="String">
                <value>\\SERVER-NAS\TMPFINAGIL\</value>
            </setting>
        </Onbase.My.MySettings>
    </userSettings>
</configuration>
